<div class="container-fluid">
    <div class="card mb-3  bg-transparent ">
        <div class="card-header">
            <h4>Analytics</h4>
        </div>
        <div class="card-body bg-transparent pb-4">
            <app-error-box [error]="error" *ngIf="error"></app-error-box>

            <div class="card-header">
                <select class="form-select">
                    <option>Jan, 2023 - June, 2023</option>
                    <option>Jan, 2023 - June, 2023</option>
                    <option>Jan, 2023 - June, 2023</option>
                    <option>Jan, 2023 - June, 2023</option>
                </select>
                <h4>Statistics</h4>
            </div>


            <canvas baseChart [data]="barChartData" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'"
            style="max-height: 450px;">
        </canvas>


        <div class="card-header">
            <select class="form-select">
                <option>Jan, 2023 - June, 2023</option>
                <option>Jan, 2023 - June, 2023</option>
                <option>Jan, 2023 - June, 2023</option>
                <option>Jan, 2023 - June, 2023</option>
            </select>
            <h4>Statistics</h4>
        </div>


        <canvas baseChart [data]="barChartData" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'"
        style="max-height: 450px;">
    </canvas>

        </div>
    </div>
</div>