<div class="container-fluid">
    <div class="card mb-3  bg-transparent ">
        <div class="card-header">
            <h4>Overview</h4>
        </div>
        <div class="card-body bg-transparent pb-4">
            <app-error-box [error]="error" *ngIf="error"></app-error-box>
            <div class="row">
                <div class="col-sm-12 col-md-4 tg">
                    <div class="card-mini bg-yellow">
                        <div class="card-body card-type-3">
                            <div class="row">
                                <div class="col">
                                    <h6 class="textwhite mb-0">
                                        Sales</h6>
                                    <span class="fw-bold mb-0 spanNumber">$999999.00</span>
                                </div>
                                <div class="col-auto card-circle">
                                    <i class="bi bi-arrow-up-right"></i> 50% <small class="d-block">from last month</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 tg">
                    <div class="card-mini bg-warning text-white">
                        <div class="card-body card-type-3">
                            <div class="row">
                                <div class="col">
                                    <h6 class="textwhite mb-0">
                                        Transactions</h6>
                                    <span class="fw-bold mb-0 spanNumber">$999.00</span>
                                </div>
                                <div class="col-auto card-circle">
                                    <i class="bi bi-arrow-up-right"></i> 50% <small class="d-block">from last month</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-4 tg">
                    <div class="card-mini bg-warning text-white">
                        <div class="card-body card-type-3">
                            <div class="row">
                                <div class="col">
                                    <h6 class="text-white mb-0">
                                        Average Ticket</h6>
                                    <span class="fw-bold mb-0 spanNumber">888.00</span>
                                </div>
                                <div class="col-auto card-circle">
                                    <i class="bi bi-arrow-up-right"></i> 50% <small class="d-block">from last month</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-header">
                <h4>Statistics</h4>
            </div>


            <canvas baseChart [data]="barChartData" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'"
            style="max-height: 450px;">
        </canvas>
















        </div>
    </div>
</div>