<div class="row d-flex h-100">
  <div class="col-md-6 d-flex justify-content-end bg-white">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="card border-0">
        <div class="card-body">
          <img src="./assets/img/logohorizontal.png" class="logo img-fluid mb-3">

          <div class="card-text">
            <app-error-box [error]="error" *ngIf="error"></app-error-box>

            <label for="inputEmail">Email address </label>
            <input type="email" id="email" formControlName="email" name="email" class="form-control" autocomplete="off"
              required autofocus>
            <p class="error danger"
              *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              The Email is required</p>
            <p class="error danger"
              *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              Invalid email</p>
            <label for="password">Password</label>
            <input type="password" id="password" autocomplete="off" value='' formControlName="password"
              autocomplete="off" name="password" class="form-control password" required>
            <p class="error danger"
              *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              The Password is required</p>
            <button [disabled]="loginForm.invalid" class="btn btn-lg btn-yellow w-100">Sign in</button>
            <a routerLink="/recovery" class="hand mt-3 d-block">Recovery Password</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="d-none d-md-block col-md-6 bgInitial "></div>
</div>