
<div class="row d-flex h-100">
    <div class="col-md-6 d-flex justify-content-end bg-white">
      <div  class="form-signin">
        <div class="card border-0">
          <div class="card-body">
            <img src="./assets/img/logohorizontal.png" class="logo img-fluid mb-5">
            <h3 class="card-title">That's all</h3>
  <p class="lh-1">Now you can use our plataform again.</p>
            <div class="card-text">
                <a routerLink="/dash" class="btn btn-yellow hand mt-3 d-block">Dashboard</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-6 bgInitial "></div>
  </div>