<div class="row d-flex h-100">
    <div class="col-md-6 d-flex justify-content-end bg-white">
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="card border-0">
          <div class="card-body">
            <img src="./assets/img/logohorizontal.png" class="logo img-fluid mb-3">
  
            <div class="card-text">
              <app-error-box [error]="error" *ngIf="error"></app-error-box>
  
              <label for="password">New Password</label>
              <input type="password" id="password" autocomplete="off" value='' formControlName="password"
                autocomplete="off" name="password" class="form-control password" required>
              <p class="error danger"
                *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                The Password is required</p>
              <label for="password2">Confirm Password</label>
              <input type="password" id="password2" autocomplete="off" value='' formControlName="password2"
                autocomplete="off" name="password2" class="form-control password" required>
              <p class="error danger"
                *ngIf="loginForm.get('password2')?.hasError('required') && (loginForm.get('password2')?.touched || loginForm.get('password2')?.dirty)">
                The Password is required</p>
              <button [disabled]="loginForm.invalid" class="btn btn-lg btn-yellow w-100 mt-3">Sign in</button>
              <a routerLink="/recovery" class="hand mt-3 d-block">Recovery Password</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="d-none d-md-block col-md-6 bgInitial "></div>
  </div>