
<div class="row d-flex h-100">
  <div class="col-md-6 d-flex justify-content-end bg-white">
    <form  class="form-signin"  [formGroup]="addClientform"  (ngSubmit)="login()" >
      <div class="card border-0">
        <div class="card-body">
          <img src="./assets/img/logohorizontal.png" class="logo img-fluid mb-5">
          <h3 class="card-title">Recovery Password</h3>
<p class="lh-1">Type your e-mail for receive the link to recovery your password</p>
          <div class="card-text">
            <app-error-box [error]="error" *ngIf="error"></app-error-box>
            <label for="inputEmail">Email address</label>
            <input type="email" id="email"  formControlName="email" name="email" class="form-control"  required autofocus>
            <p class="error danger" *ngIf="addClientform.get('email')?.hasError('required') && (addClientform.get('email')?.touched || addClientform.get('email')?.dirty)">The Email is required</p>
            <p class="error danger" *ngIf="addClientform.get('email')?.hasError('email') && (addClientform.get('email')?.touched || addClientform.get('email')?.dirty)">Invalid email</p>
            <button [disabled]="addClientform.invalid" class="btn btn-lg btn-yellow w-100 mt-2">Save</button>
            <a routerLink='/' class="hand mt-3 d-block">Sign in</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="d-none d-md-block col-md-6 bgInitial "></div>
</div>


